[Unit]
Description=Service for prioritizing VRAM usage for currently active application on Hyprland
After=dmemcg-booster-user.service graphical-session.target

[Service]
ExecStart=/usr/bin/hyprland-focused-booster

[Install]
WantedBy=graphical-session.target
